<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
	</configSections>
  
	<dataConfiguration defaultDatabase="KonektDatabaseCDS" />
	<appSettings>
    <add key="IsDebug" value="true" />
    <add key="XMLPath" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\XML\" />
    <add key="DebugPath" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\Debug\errors.txt" />
    <add key="AppURL" value="http://192.168.1.216/Konektv4/CDS/KonektCDS/" />
    <add key="AccountImagePathURL" value="~/UserImages/Account" />
    <add key="MobileSiteImagesPathURL" value="~/UserImages/Mobile" />
    <add key="UploadLocation" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\RadUploadTemp\" />
    <add key="MessageXMLPath" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\XML\Pages\Message.xml" />
    <add key="AccountImagePath" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\AccountImages\" />
    <add key="AccountImagePathURLFull" value="http://192.168.1.216/Konektv4/CDS/KonektCDS/AccountImages/" />
    <add key="ReportPath" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\XML\ReportTemplates\" />
    <add key="TempXLSXLocation" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\RadUploadTemp\TmpXLS\" />
    <add key="KonektDownloadFileXML" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\XML\Pages\DownloadFile.xml" />
    <add key="KonektActionsFileXML" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\XML\Pages\actions.xml" />
    <add key="LandingPagePath" value="D:\Inetpub\wwwroot\KonektSolution\Projects\KonektWeb\CDS\KonektCDS\LandingPage\" />
    <add key="LandingPageURL" value="http://192.168.1.216/Konektv4/CDS/KonektCDS/LandingPage/" />
    <add key="FCKEditorBasePath" value="~/cds/konektcds/fckeditor/"/>
    <add key="IPLookUp" value="http://automation.whatismyip.com/n09230945.asp"/>
    <add key="FBCreateEventURL" value="https://api.facebook.com/method/events.create"/>
    <add key="FBPostOnWallURL" value="http://getkonekt.com:8181/PostToFB.php"/>
    <add key="EventNuURL" value= "http://www.eventnu.com/mobikons/konekt" />
    <add key="SendGridTokenId" value="B42915B6-A099-4FCF-9244-D7114E96F6AC" />
    <add key="BaseURL" value="http://192.168.1.216/Konektv4/" />
    <add key="MenuAppImageURL" value="http://192.168.1.216/Konektv4/MenuAppImages/" />
    <add key="MenuAppImageDirectory" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\MenuAppImages\" />
    <add key="FacebookWrapperURL" value="http://getkonekt.com/KonektFacebook/KonektFacebookWrapper.asmx"/>
    <add key="BImageURL" value="http://192.168.1.216/Konektv4/BirthdayImages/" />
    <add key="BUploaderImageURL" value="http://192.168.1.216/Konektv4/BirthdayImages/" />
    <add key="BImageDirectory" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\BirthdayImages\" />
    <add key="BirthdayAnniAPIXMLPath" value="D:\Inetpub\wwwroot\KonektSolution\XML\Pages\BirthdayAnniAPI.xml" />
    <add key="CUploaderImageURL" value="http://192.168.1.216/Konektv4/ConciergeImages/" />
    <add key="CImageDirectory" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\ConciergeImages\" />
  </appSettings>
	<connectionStrings>
    <!--<add name="KonektDatabaseCDS" connectionString="Data Source=64.15.155.142;Initial Catalog=KonektApp;Persist Security Info=True;User ID=demodb;Password=Marijuana@77;Min Pool Size=1;Max Pool Size=300;Connect Timeout=2000;" providerName="System.Data.SqlClient" />-->
    <add name="KonektDatabaseCDS" connectionString="Data Source=174.142.77.66;Initial Catalog=KonektApp;Persist Security Info=True;User ID=konekt;Password=Mobi!@#;Min Pool Size=1;Max Pool Size=300;Connect Timeout=2000;" providerName="System.Data.SqlClient" />
    <!--<add name="KonektDatabaseCDS" connectionString="Data Source=192.168.1.3\MOBIKONDBSTG;Initial Catalog=KonektApp;Persist Security Info=True;User ID=sa;Password=Marijuana@77;Min Pool Size=1;Max Pool Size=300;Connect Timeout=2000;" providerName="System.Data.SqlClient" />-->
 	</connectionStrings>
	<!--<system.web>-->
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<!--<sessionState timeout="60" />-->

		<!--<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>-->
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--<authentication mode="Windows" />-->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<!--<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>-->
	<!--</system.web>-->
	<!--<location path="CDS/KonektWeb">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>-->
	<!--<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>-->
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<!--<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		--><!--<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>--><!--
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="a.aspx" />
            </files>
        </defaultDocument>
        --><!--<defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>--><!--
	</system.webServer>-->
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
