<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KonektSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <dataConfiguration defaultDatabase="KonektDatabase" />
  <appSettings>
    <add key="IsDebug" value="true" />
    <add key="XMLPath" value="D:\inetpub\wwwroot\KonektSolution\XML\" />
    <add key="AppPath" value="D:\inetpub\wwwroot\KonektSolution\KonektWeb\" />
    <add key="DebugPath" value="D:\inetpub\wwwroot\KonektSolution\Debug\errors.txt" />
    <add key="ReportPath" value="D:\inetpub\wwwroot\KonektSolution\XML\ReportTemplates\" />
    <add key="TemplateLocation" value="D:\inetpub\wwwroot\KonektSolution\RadUploadTemp\" />
    <add key="UploadCustomerLocation" value="D:\inetpub\wwwroot\KonektSolution\RadUploadTemp\Customers\" />
    <add key="UploadAttendeesLocation" value="D:\inetpub\wwwroot\KonektSolution\RadUploadTemp\Attendees\" />
    <add key="UploadMenuLocation" value="D:\inetpub\wwwroot\KonektSolution\RadUploadTemp\Menus\" />
    <add key="UploadCampaignOfferCode" value="D:\inetpub\wwwroot\KonektSolution\RadUploadTemp\CampaignOfferCode\" />
    <add key="UploadMobileCustomerLocation" value="D:\inetpub\wwwroot\KonektSolution\RadUploadTemp\MobileCustomers\" />
    <add key="TempXLSXLocation" value="D:\inetpub\wwwroot\KonektSolution\RadUploadTemp\XLSX\" />
    <add key="AppURL" value="http://192.168.1.216/Konektv4/" />
    <add key="KonektAPIXMLPath" value="D:\inetpub\wwwroot\KonektSolution\XML\Pages\KonektAPI.xml" />
    <add key="JangoUserName" value="test4793" />
    <add key="JangoPassword" value="728303YX" />
    <add key="AccountImagePath" value="D:\inetpub\wwwroot\KonektSolution\AccountImages\" />
    <add key="AccountImagePathURL" value="~/AccountImages/" />
    <add key="MobileSiteImagesPathURL" value="~/MobileSiteImages/" />
    <add key="MobileSiteImagesPath" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\MobileSiteImages\" />
    <add key="FeedbackImagesPathURL" value="~/FeedbackImages/" />
    <add key="MobileActionWebRef" value="http://192.168.1.216/Konektv4/service/KonektAPI.asmx/MobileActionHandler" />
    <add key="FeedbackImagesPath" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\FeedbackImages\" />
    <add key="FeedbackAppContentURL" value="http://192.168.1.216/Konektv4/FeedbackAppContent/" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EmailPort" value="587" />
    <add key="EmailEnableSsl" value="true" />
    <add key="EmailUserName" value="konekt@mobikontech.com" />
    <add key="EmailPassword" value="Konekt@123" />
    <add key="EscalationEmailSubject" value="Auto email triggered by poor feedback received" />
    <add key="EscalationSenderName" value="Mobikon" />
    <add key="EscalationSenderEmailId" value="konekt@mobikontech.com" />
    <add key="MobileDemoSitePath" value="D:\inetpub\wwwroot\KonektSolution\XML\Pages\MobileDemoSite.xml" />
    <add key="CallKonektXMLPath" value="D:\inetpub\wwwroot\KonektSolution\XML\Pages\CallKonekt.xml" />
    <add key="TechSupport" value="abhilash@mobikontech.com;amol@mobikontech.com" />
    <add key="JangoAPIURL" value="http://api.jangomail.com/api.asmx/" />
    <add key="FeedbackAppURL" value="http://localhost/konektsolution/projects/konektweb/FeedbackAppContent/" />
    <add key="FeedbackAppContentPath" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\FeedbackAppContent\" />
    <add key="ManifestFileLocation" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\FeedbackAppContent\" />
    <add key="MobileWebRef" value="http://192.168.1.216/Konektv4/service/KonektAPI.asmx/MobileContentHandler" />
    <add key="FeedbackWebAppContentPath" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\FeedbackAppContent\KonektFeedbackWebApp\" />
    <add key="FeedbackWebAppContentURL" value="http://192.168.1.216/Konektv4/FeedbackAppContent/KonektFeedbackWebApp/" />
    <add key="FeedbackWebAppManifestLocationPath" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\FeedbackAppContent\KonektFeedbackWebApp\" />
    <add key="KonektDownloadFileXML" value="D:\inetpub\wwwroot\KonektCDS\XML\Pages\DownloadFile.xml" />
    <add key="KonektActionsFileXML" value="D:\inetpub\wwwroot\KonektCDS\XML\Pages\actions.xml" />
    <add key="LandingPagePath" value="D:\inetpub\wwwroot\KonektCDS\LandingPage\" />
    <add key="LandingPageURL" value="http://192.168.1.216/Konektv4/CDS/KonektCDS/LandingPage/" />
    <add key="SendGridTokenId" value="B42915B6-A099-4FCF-9244-D7114E96F6AC" />
    <add key="UseJango" value="false" />
    <add key="TargetUri" value="http://getkonekt.com:8181/sendmailgrid.php" />
    <add key="EventNuURL" value="http://www.eventnu.com/mobikons/konekt" />
    <add key="BaseURL" value="http://192.168.1.216/Konektv4/" />
    <add key="ConciergeAPIXMLPath" value="D:\Inetpub\wwwroot\KonektSolution\XML\Pages\ConciergeAPI.xml" />
    <add key="MenuAppAPIXMLPath" value="D:\Inetpub\wwwroot\KonektSolution\XML\Pages\MenuAppAPI.xml" />
    <add key="ProfileImageURL" value="http://192.168.1.216/Konektv4/FBProfileImages/" />
    <add key="ProfileImageStorage" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\FBProfileImages\" />
    <add key="ProfileImageURL" value="http://192.168.1.216/Konektv4/FBProfileImages/" />
    <add key="ProfileImageStorage" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\FBProfileImages\" />
    <add key="ProfileEmailSubject" value="Hi, this is the photograph that you clicked at ~Entity~" />
    <add key="MobileSiteCampaignImagePath" value="Hi, this is the photograph that you clicked at ~Entity~" />
    <add key="BirthdayAnniAPIXMLPath" value="D:\Inetpub\wwwroot\KonektSolution\XML\Pages\BirthdayAnniAPI.xml" />
    <add key="AuthKeysPath" value="D:\Inetpub\wwwroot\KonektSolution\XML\Pages\AuthKeys.xml"/>
    <add key="KonektInAPIXMLPath" value="D:\Inetpub\wwwroot\KonektSolution\XML\Pages\KonektIn.xml"/>
    <add key="BImageURL" value="http://192.168.1.216/Konektv4/BirthdayImages/" />
    <add key="BUploaderImageURL" value="http://192.168.1.216/Konektv4/BirthdayImages/" />
    <add key="BImageDirectory" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\BirthdayImages\" />
    <add key="BirthdayAnniAPIXMLPath" value="D:\Inetpub\wwwroot\KonektSolution\XML\Pages\BirthdayAnniAPI.xml" />
    <add key="BImagePysicalLoc" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\" />
    <add key="ConciergePHPService" value="http://beta.mobikontech.com:8181/ConciergeAPI.php" />
    <add key="CUploaderImageURL" value="http://192.168.1.216/Konektv4/ConciergeImages/" />
    <add key="CImageDirectory" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\ConciergeImages\" />
    <add key ="SearchURL" value="http://beta.mobikontech.com:8282/KonektCustView/konekt/cview/view"/>
    <add key="VoiceFiles" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\FeedbackVoiceContent\"/>
    <add key="VoiceFileURL" value="http://192.168.1.216/KonektSolution/Projects/KonektWeb/FeedbackVoiceContent/"/>
    <add key ="VoiceErrorFiles" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\FeedbackVoiceContent\ErrorFiles\" />
    <add key="QRCodeImagePath" value="D:\inetpub\wwwroot\KonektSolution\Projects\KonektWeb\QRCode\"/>
    <add key="QRCodeImageURL" value="http://192.168.1.216/KonektSolution/Projects/KonektWeb/QRCode/"/>
    <add key="QRCodeImageSize" value="3"/>
    
  </appSettings>
  <connectionStrings>
    <!--<add name="KonektDatabase" connectionString="Data Source=174.142.77.66;Initial Catalog=KonektApp;Persist Security Info=True;User ID=konekt;Password=Mobi!@#;Min Pool Size=1;Max Pool Size=300;Connect Timeout=2000;" providerName="System.Data.SqlClient" />-->
    <add name="KonektDatabase" connectionString="Data Source=64.15.155.142;Initial Catalog=KonektApp;Persist Security Info=True;User ID=demodb;Password=Marijuana@77;Min Pool Size=1;Max Pool Size=300;Connect Timeout=2000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" timeout="60" cookieless="false" />
      <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpRuntime executionTimeout="110" maxRequestLength="51200" />
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2010.2.929.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Version=2007.2.1107.0, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>

    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 


	<location path="Telerik.Web.UI.WebResource.axd">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="CDS/KonektWeb">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>-->

  <!-- 

        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ChartHandler" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <applicationSettings>
    <KonektSolution.Properties.Settings>
      <setting name="KonektWeb_JangoMailWebRef_JangoMail" serializeAs="String">
        <value>http://api.jangomail.com/api.asmx</value>
      </setting>
    </KonektSolution.Properties.Settings>
  </applicationSettings>
</configuration>
